
/* General Styling*/


/* Navbar Styling */

.navbar-brand svg path {
    fill: #fff;
}
.text-red{
    color: #f72210 !important;
}

.bg-red {
    background-color: #f72210 !important;
}

#main-left-nav .nav-item {
    font-size: 0.8rem;
}

#sidebar{
    max-width: 25vw;
}

.side-nav-toggler {
    color: #fff;
    font-size: 1.2rem;
}

.side-nav-toggler:hover {
    color: #fff;
}

#sidebar-toggler {
    position: absolute;
    background-color: #fff;
    width: 13.75rem;
    right: 0;
    height: calc(100vh - 40px);
    font-size: 21px;
    font-weight: 700;
}

#sidebar-toggler form input {
    width: 175px;
    height: 25px;
    border: 0;
    text-indent: 0 !important;
    padding-left: 0;
    margin-left: 0;
}

#sidebar-toggler form input:focus {
    box-shadow:none !important;
}

#sidebar-toggler .nav-item a {
    color: black;
}

#main-nav {
    height: 2.5rem;
}

/* lg media query */
@media (min-width: 992px) {
    #sidebar-toggler {
        display: none !important;
    }
}