
/* General Styling*/


/* Navbar Styling */

.navbar-brand svg path {
    fill: #fff;
}
.text-red{
    color: #f72210 !important;
}

.bg-red {
    background-color: #f72210 !important;
}

#main-left-nav .nav-item {
    font-size: 0.8rem;
}

.wrapper {
    max-width: 25vw;
}
